# root
stuff/

#STM32
STM32/64blink/
STM32/adc_dma_vidfour/
STM32/blink/
STM32/blinky_new/
STM32/dma_vid4part2/
STM32/myrtosdemovidthree/
STM32/RemoteSystemsTempFiles/
STM32/timer/
STM32/timerex1F070/
STM32/timerex2F070/
STM32/timerex3F070/
STM32/timeruSdelayexF070/
STM32/.metadata

# tm1638
STM32/tm1638plus/Debug/
STM32/tm1638plus/Drivers/

# nokia 
STM32/nokia5110text/Debug/
STM32/nokia5110text/Drivers/
STM32/nokia5110text/.cproject
STM32/nokia5110text/.settings/language.settings.xml
STM32/nokia5110text/nokia5110text Debug.launch
STM32/nokia5110text/.settings/stm32cubeide.project.prefs


# erm19264
STM32/ERM19264/Debug/
STM32/ERM19264/Drivers/

# ST7735
STM32/ST7735_TFT/Debug/
STM32/ST7735_TFT/Drivers/
STM32/ST7735_TFT/ST7735_TFT*
STM32/ST7735_TFT/.settings/*
STM32/ST7735_TFT/core/Startup/
STM32/ST7735_TFT/.*project
STM32/ST7735_TFT/STM32*


# AHT10
STM32/AHT10/Debug/
STM32/AHT10/Drivers/
STM32/AHT10/*.pdf

# LM75A
STM32/LM75a/Debug/
STM32/LM75a/Drivers/
STM32/LM75a/*.pdf

# HD44780
STM32/HD44780/Debug/
STM32/HD44780/Drivers/
STM32/HD44780/*.pdf
